click==8.0.1
colorama==0.4.4
future==0.18.2
importlib-metadata==4.3.0
pefile==2021.5.24
PyQt5==5.15.3
PyQt5-Qt==5.15.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
six==1.16.0
spark-parser==1.8.9
typing-extensions==3.10.0.0
uncompyle6==3.7.4
unpy2exe==0.4
xdis==5.0.9
zipp==3.4.1
